:root{
  /* primary colors */
  --primary-color1: #fda214;
  --primary-color2: #bcced9;
  --primary-color3: #152938;
  --primary-color4: #304859;
  --primary-color5: #DFE7EC;

  /* neutral colors */
  --secondary-color1: #f2f2f2;
  --secondary-color2: #7191a5;
  --secondary-color3: #6395b8;
  --secondary-color4: #fcfcfc;

  /* font-family */

  --font-family:'Atkinson Hyperlegible';

}
.whiteColor{
  color: white !important; 
}
.header{
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 750px;
  height: 52px;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom:2rem ;
  /* padding:2rem 15rem 2rem 15rem; */
}
.header h1{
  font-size: 40px;
  font-weight: bold;
  color: var(--primary-color3) !important
}


.btn-restart{
  border: none;
  border-radius: 50px;
  color: var(--secondary-color4);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--primary-color1);
  width: 127px;
  height: 52px;
}
.btn-newGame{
  border: none;
  border-radius: 50px;
  color: var(--secondary-color4);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--secondary-color1);
  color: var(--primary-color3);
  width:149px;
  height: 52px;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(4, 20%);
  /* grid-template-rows: repeat(4,20%); */
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 550px;
}
.grid-container6x6{
  display: grid;
  grid-template-columns: repeat(6, 17%);
  grid-template-rows: repeat(6,17%);
  align-items: center;
  justify-content: center;
  width: 572px;
  height: 572px;
  margin-bottom: 1rem;
}


.flip-card {
  background-color: transparent;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  perspective: 1000px; 
}

.flip-card6x6 {
  background-color: transparent;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  perspective: 1000px; 
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:var(--primary-color4);
}
.flip-card-front:hover{
  background-color: var(--secondary-color2);
}

.flip-card-back {
  background-color:var(--primary-color2);
  color: white;
  transform: rotateY(180deg);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bot-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  margin-top: 1rem;
}
.bot-nav h5{
  color: var(--secondary-color3);
  font-size: 18px;
  font-family: var(--font-family);
}
.bot-nav6x6{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 540px;
  margin-top: 0.7rem;
  /* margin-bottom: rem; */
}
.bot-nav6x6 h5{
  color: var(--secondary-color3);
  font-size: 18px;
  font-family: var(--font-family);
}
.move-container,.time-container{
  display: flex;
  align-items: center;
  justify-content:space-around ;
  width: 200px;
  height: 72px;
  background-color: var(--primary-color2);
  border-radius: 10px;
  
}
.move-container6x6,.time-container6x6{
  display: flex;
  align-items: center;
  justify-content:space-between ;
  width: 200px;
  height: 72px;
  background-color: var(--primary-color2);
  border-radius: 10px;
  padding: 0 1rem 0 1rem;
  
}
.move-container p,.time-container label{
  color: var(--primary-color3);
  font-size: 32px;
  font-weight: bold;
}
.move-container6x6 p,.time-container6x6 label{
  color: var(--primary-color3);
  font-size: 32px;
  font-weight: bold;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.popup-content {
  background-color:var(--secondary-color1);
  margin: 5rem auto;
  padding: 20px;
  width: 654px;
  height: 510px;
  font-weight: bolder;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  /* display: flex; */
}
.scores{
  width: 542px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.show{
  display: block;
}
.timeBox,.movesBox{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  height: 72px;
  /* border: 1px solid red; */
  background-color: var(--primary-color5);
  border-radius: 10px;
}
.timeBox>h4,.movesBox>h4{
 margin-left: 3rem;
 color: var(--secondary-color3);
 font-size: 18px;
 font-weight: bold;
}
.timeBox>p,.movesBox>p{
  margin-right: 3rem;
  color: var(--primary-color3);
  font-size: 30px;
  font-weight: bold;
 }
 .popBtn{
  width: 542px;
  height: 52px;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
 }
 .popBtn>button{
  width: 264px;
  height: 52px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
 }
 .popBtn>.restart{
  color: var(--secondary-color1);
  background-color: var(--primary-color1);
 }
 .popBtn>.new-game{
  background-color: var(--primary-color5);
 }
 .top-note{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:60px;
  /* border: 1px solid red; */
 }
 .top-note h2{
  font-size: 35px;
  height: 10px;
  font-weight: bold;
  position: relative;
  color: var(--primary-color3);
  /* top: -2rem; */
 }
 .top-note p{
  position: relative;
  height: 10px;
  font-size: 18px;
  color: var(--secondary-color3);
  /* top: -3rem; */
 }

 /* multi-player */
 .playerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .playerContainer p{
  font-size: 14px;
  letter-spacing: 5px;
  font-weight: bold;
  color: var(--primary-color3);
  /* display: none; */
 }
 .pair-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 450px; */
  margin-top: 1rem;
}
.pair-nav h5{
  color: var(--secondary-color3);
  font-size: 18px;
  font-family: var(--font-family);
}
.pair-container{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 0 2rem 0 2rem;
  padding: 0 1rem 0 1rem;
  width: 200px;
  height: 72px;
  background-color: var(--primary-color2);
  border-radius: 10px;
  
}
.pair-container h5{
  font-size: 18px;
  font-weight: bold;
}
.sm-screen{
  display: none;
}
.pair-container p{
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color3);
}
.currentTurn{
  display: none;
}
/* Multiplayer */
.Multi-popup-content {
  background-color:var(--secondary-color1);
  margin: 10rem auto;
  padding: 20px;
  width: 654px;
  height: 702px;
  font-weight: bolder;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.multiPlayerScores{
  width: 542px;
  height: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
/* .show{
  display: block;
} */
.active {
  background-color:var(--primary-color1); /* or any color you prefer */
}
.player_score{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  height: 72px;
  /* border: 1px solid red; */
  background-color: var(--primary-color5);
  border-radius: 10px;
}
.player_score>h4{
 margin-left: 3rem;
 color: var(--secondary-color3);
 font-size: 18px;
 font-weight: bold;
}
.player_score>p{
  margin-right: 3rem;
  color: var(--primary-color3);
  font-size: 30px;
  font-weight: bold;
 }

 /* media queries */

@media  only screen and (max-width:480px) {
  .grid-container{
    grid-template-columns: repeat(4, 25%);
    width: 350px;
    height: 350px;
  }
  .grid-container6x6{
    display: grid;
    grid-template-columns: repeat(6, 17%);
    grid-template-rows: repeat(6,17%);
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    margin-bottom: 1rem;
  }
  .flip-card {
    width: 72px;
    height: 72px;
  }
  .flip-card6x6 {
    width: 50px;
    height: 50px;

  }
  .flip-card6x6 h1{
    font-size: 25px;
  }
  .bot-nav{
    width: 327px;
  }
  .bot-nav6x6{
    width: 350px;
  }
  .move-container,.time-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 80px;

  }
  .move-container6x6,.time-container6x6{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 120px;
    height: 80px;
    
  }
  .bot-nav h5{
    margin: 0;
  }
  .bot-nav6x6 h5{
    margin: 0;
    }
  .move-container p,.time-container label{
    color: var(--primary-color3);
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }
  .move-container6x6 p,.time-container6x6 label{
    color: var(--primary-color3);
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }
  .popup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
  }
  .popup-content {
    padding: 20px;
    width: 327px;
    height: 390px;
    /* margin: 0; */
  }
  .scores{
    width: 300px;
    height: 150px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;

  }
  .timeBox,.movesBox{
    /* margin: 0; */
    justify-content: space-around;
    height: 60px;
  }
  .timeBox>h4,.movesBox>h4{
    margin:0;
    color: var(--secondary-color3);
    font-size: 16px;
    font-weight: bold;
    }
    .timeBox>p,.movesBox>p{
      margin:0;
      color: var(--primary-color3);
      font-size: 18px;
      font-weight: bold;
    }
    .popBtn{
      margin: 0;
      width: 300px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      }
      .popBtn>button{
      width: 100%;
      height: 55px;
      font-size: 20px;
      font-weight: bold;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      }
    

  /* multi-player */
  .pair-nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  margin-top: 5rem;
  }
  .playerContainer{
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  }
  .playerContainer p{
  font-size: 20px;
  /* display: none; */
  }

  .playerContainer h5{
  font-size: 20px;
  }
  .pair-container{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin: 0 2rem 0 2rem;
    padding: 0 1rem 0 1rem;
    width: 100%;
    height: 70px;
    background-color: var(--primary-color2);
    border-radius: 10px;
    
  }
  .lg-screen{
  display: none;
  }
  .sm-screen{
  display: block;
  margin: 1.5rem 0 0 0;
  padding: 0;
  }

  /* Multiplayer */
  .Multi-popup-content {
  width: 327px;
  height: 488px;
  }

  .multiPlayerScores{
  width: 279px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .player_score{
  display: flex;
  align-items: center;
  justify-content:none;
  width: 300px;
  height: 72px;
  }
  .player_score>h4{
  margin: 0 0 0 1rem;
  color: var(--secondary-color3);
  font-size: 18px;
  font-weight: bold;
  }
  .player_score>p{
    margin: 0 1rem 0 0;
    color: var(--primary-color3);
    font-size: 30px;
    font-weight: bold;
  }
  .pairMatch{
    font-size: 70px;
  }
  .active {
    background-color:var(--primary-color1); /* or any color you prefer */
  }
 }